/************************* Color *************************/
$LightBlue:  #C7F7FF;
$MedBlue:    #89C0C9;
$DarkBlue:   #3a5E63;
$LightBrown: #C9A689;
$DarkBrown:  #7C593C;
$LightGrey:  #d4d4d4;
$DarkGrey:   #222;
$White:   #fff;

/************************* Font Family *************************/
$default-font-family: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$heading-font-family: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;

/************************* Font Size *************************/
$Fonts1414: 1.414rem;
$Fonts3998: 3.998rem;
$Fonts1999: 1.999rem;
$Fonts2827: 2.827rem;
$Fonts1: 1rem; 
